*{
    margin: 0;
    padding: 0;
}
.show{
    float: left;
    div{
        float: left;
        &:nth-child(1){
            width: 640px;
            height: 400px;
           background: url(../img/4.jpg); 
           position: relative;
           .p{
               h3{
                   position: absolute;
                   left: 200px;
                   top: 180px;
                   color: #fff;
               }
           }
        }
        &:nth-child(2){
             width: 640px;
            height: 400px;
            background: url(../img/14.jpg); 
            position: relative;
            overflow: hidden;
            &:hover{
                .pt{
                    span{
                         bottom: 0px;
                         opacity: 1;
                    }
                     p{
                        opacity: 1;
                        
                      }
                      
                }
            }
            .pt{
             transition-delay: 2s;
                p{
                    display:block;
                    width: 100%;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    margin: 175px 0 0;
    //              position: absolute;
    //              height: 175px;
                    transition:all 1s ease;
                    transform-origin: center bottom; 
                    transform:translate(-100px,0);
                    opacity: 0;
                }
               span{
                   display: block;
                   width: 100%;
                   height: 50px;
                   background: rgba(255,255,255,0.9);
                   position: absolute;
                   left: 0;
                   bottom: -50px;
                   transition:all 1s ease;
                   opacity: 0;
               }
            }
            
        }
        &:nth-child(3){
             width: 640px;
            height: 400px;
            background: url(../img/10.jpg); 
//          .p{
//              display: block;
//              width: 100%;
//              height: 100%;
//              background: rgba(33,33,33,0.4);
//              h3{
//                  
//              }
            //}
        }
        &:last-child{
             width: 640px;
            height: 400px;
            background: url(../img/8.jpg); 
            
        }
    }
}
